<li [ngClass]="{'list-group-item' : true,
                'list-group-item-success' : loveIts > 0,
                'list-group-item-danger' : loveIts < 0 }">
  <div class="container">
    <div class="row">
      <h2 class="col-xs-9" [ngStyle]="{color:getColor()}">{{title}}</h2>
      <h4 class="col-xs-3" style="color:grey; font-size:20px; text-aligne:right">{{created_at | date: 'short'}}</h4>
    </div>
      <p [ngStyle]="{color:getColor()}">{{content}}</p>
    <div class="form-group">
      <button class="btn btn-success" style="margin : 5px" (click)="onLoveIt()">Love it!</button>
      <button class="btn btn-danger" style="margin : 5px" (click)="onDontLoveIt()">Dont't love it!</button>
    </div>
  </div>
</li>
